body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #cfc4ff;
    margin: 0;
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #0099ff;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    color: #076380;
    margin-bottom: 15px;
}

p {
    font-size: 1.5em;
    color: #076380;
    margin-bottom: 15px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.gallery img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #cfc4ff;
  margin: 0;
  padding: 20px;
  text-align: left; 
}

h1, h2 {
  text-align: center;
}

table {
  margin: 20px auto; 
  border-collapse: collapse;
  border: 2px solid #333;
  table-layout: auto;
  background-color: white;
}

th, td {
  border: 1.5px solid #333;
  padding: 6px;
  text-align: center;
  vertical-align: top;
  min-width: 80px;
  height: 60px;
  font-size: 13px;
}

th {
  background-color: #e6e6e6;
  font-weight: bold;
}

.yellow {
  background-color: #ffefc4;
}

.pink {
  background-color: #ffd6e8;
}

.lightblue {
  background-color: #d0f0ff;
}
.day-label {
  position: relative;
  padding-left: 10px;
  background-color: #f9f9f9;
  text-align: left;
}

.day-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  border-radius: px 0 0 5px;
}

.yellow-bar::before {
  background-color: #ffc107;
}

.pink-bar::before {
  background-color: #ff69b4;
}

.green-bar::before {
  background-color: #4caf50;
}

.orange-bar::before {
  background-color: #ff9800;
}

.blue-bar::before {
  background-color: #00bcd4;
}

.purple-bar::before {
  background-color: #d39afc;
}

.red-bar::before {
  background-color: #f44336;
}

div { 
  border: 8px solid#e6d45a;
  padding: 20px 80px;
  background: #67c8d7;
  width: 100px;
  border-radius: 45px;
}